<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logoInput">
            <img src = "/images/logo-mercado-liebre.svg" id="logo">
            <form action="/" method="get">
                <input type="search" id="buscar" placeholder="Buscar productos, marcas y más...">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <h4><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
        
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main id="loginMain">
        <div class="registerDiv">
            <h1 class="register">Regístrate</h1>
        </div>
    <form action="/" method="get">
        
        <input type="text" placeholder="Nombre de usuario" id="usuario" name="usuario" required>
        <input type="password" placeholder="Contraseña" id="contraseña" name="contraseña" required>
        <a class="olvidarContraseña" href="" value="Borrar">¿Olvidaste tu contraseña?</a>

        <button class="boton" type="submit" id="enviarLogin" value="Enviar">Registrarme</button>
    </form>
      
</main>
    <footer>
        <section id="pie">
            <article><div>
                <i class="fas fa-credit-card"></i></div>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article><div>
                <i class="fas fa-gift"></i></div>
                    <h4>Envío gratis desde los $2.500</h4>
                    <p>Sólo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. 
                        Es un beneficio de Mercado Puntos.</p>
            </article>
            <article><div>
                    <i class="fas fa-user-shield"></i></div>
                    <h4>Seguridad de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </article>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>  

</body>
</html>