* {
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    width:100%;
    margin:auto; 
}

header div.logo {
    text-align: left;
}

#logo {
    width:50%; 
    height:50%;
    padding:0;
}

header nav {
    font-size: 12px;
}

header {
    background-color: #EAC926;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}



header nav ul li {
    list-style-type: none;
    text-align: left;
    width: 100%;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #fff;
    font-size: 30px;
    line-height: 1.4;
    height: 40px;
    width: 40px;
    margin: 10px 0px 20px 0px;
}

header div.input {
    background-color: white;
    border: 1px solid #000;
    width: 45vw;
    color: grey;
    text-align: center;
    margin-left: 5vw;
}


.titular1 {
    padding-left: 5%;
}


.img-producto {
    text-align: center;

}

.texto-producto {
    border-top: solid 1px #ebebeb;
    margin-bottom: 10px;
    padding: 15px;
    line-height: 0;
}

.texto-producto h4 {
    color: #666;
    line-height: 0px;
}

.texto-producto h5 {
    font-size: 16px;
    color: #39b54a;
}

.texto-producto h6 {
    font-size: 18px;
}

.shipping {
    color: #39b54a;
    border: solid 1px #39b54a;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}



main {
    width: 90vw;
    margin: auto;
    line-height: 0;

}

main section article {
    width: 100%;
    padding: 15px 15px 15px 15px;
    background-color: white;
    margin: auto;
}

main section h3 {
    color:rgb(83, 83, 83);
    font-weight: bold;
    text-align: left;
}


footer {
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    width: 98%;
    font-size: 18px;
    padding: 30px 0px;
    margin: auto;
}

footer section div.iconopie {
    color: #0044AA;
    margin: auto;
    width: 100px;
    font-size: 2em;
}

footer section h4 {
    font-size: 0.8em;
    padding-left: 45px;
    padding-right: 45px;
    color: #666;
}

footer section p {
    font-size: 0.8em;
    color: black;
    color: #666;
}


footer section {
    margin-bottom: 10px;
    box-sizing: content-box;
    text-align: center;
}

